*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse-bold';
    src: url(../../assets/Norse-Bold.otf);
}

@mixin noPaddingOrMargins() {
    padding: 0px;
    margin: 0px;
}

$create-account-text-color: #596D48;
$input-border-color: #E5E7EB;
$white-color: #FFFFFF;
$primary-background-color: #f9fafb;
$form-background-color: #FFFFFF;

$top-padding: min(10rem, 10%);
body {
    @include noPaddingOrMargins();
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2,
h3 {
    @include noPaddingOrMargins();
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include noPaddingOrMargins();
    min-height: 100vh;
}

.logo-container {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    font-family: 'Norse-Bold';
    flex-basis: max(30%, 16rem);
    display: flex;
    flex-direction: column;
    padding-top: calc($top-padding * 1.25);

    .logo-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        color: $white-color;
        background-color: rgba(black, 0.25);
        img {
            width: 1.25em;
            height: auto;
        }
    }
}

.content-container {
    flex-grow: 1;
    padding: $top-padding 0;
    background-color: $primary-background-color;
    header {
        width: clamp(45ch, 50%, 75ch);
    }

    .sign-up-form {

        fieldset {
            width: 100%;
            margin: 0px;
            background-color: $form-background-color;
            padding-bottom: 1rem;
            padding-top: 1rem;
            border: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        label {
            text-transform: uppercase;
            letter-spacing: 0.075rem;
        }

        .form-row {
            width: max(480px, 45%);
            display: flex;
            justify-content: space-between;
        }

        .form-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input {
                width: max(12vw, 240px);
            }
        }
    }

    & > *:not(.sign-up-form), 
    & .sign-up-form > * {
        padding-left: 2rem;
    }
}

.italic {
    font-style: italic;
}